#!/bin/sh

printf "\nCloud Operations  \n" 
printf "Built by playbook : cloud-prov  \n" 
printf "version : {{playbook_version}}  \n\n" 
printf "   OpsCenter : {{opscenter.active_version}}  \n" 
printf "   Agent     : {{agent.active_version}}  \n" 
printf "   Cluster   : {{dse.active_version}}  \n" 
printf "   Store     : {{store.active_version}}  \n\n" 
