[kerberos]
default_service =
opscenterd_client_principal =
opscenterd_keytab_location =
agent_keytab_location =
agent_client_principal =

[agents]
ssl_keystore_password =
ssl_keystore =

[jmx]
password =
port = 7199
username =

[cassandra]
ssl_truststore_password =
cql_port = 9042
password =
ssl_keystore_password =
ssl_keystore =
ssl_truststore =
username =
seed_hosts = {% set comma = joiner(',') %}{% for host in groups['store'] %}{{comma()}}{{hostvars[host]['ansible_default_ipv4']['address']}}{% endfor %}


[storage_cassandra]
keyspace=opsc_store
seed_hosts = {% set comma = joiner(',') %}{% for host in groups['store'] %}{{comma()}}{{hostvars[host]['ansible_default_ipv4']['address']}}{% endfor %}
